$cyan-300: hsl(192 90 77);
$cyan-600: hsl(192 37 48);
$purple-300: hsl(268 100 86);
$purple-600: hsl(268 34 53);
$slate-300: hsl(240 18 85);
$slate-600: hsl(240 10 57);
$slate-900: hsl(240 21 20);
$white: hsl(0 0 98);
